{% extends "coqb/layout.html" %}
{% load static %}
{% block title %}Course Outline{% endblock %}
{% block body %}

	<div class="head-title">
		<div class="left">
			<h1>Course Outline</h1>
			<ul class="dashboard">
				<li>
					<a href="{% url 'co' %}">Course Outline</a>
				</li>
				<li><i class='bx bx-chevron-right'></i></li>
				<li>
					<a class="active" href="{% url 'co' %}">Course List</a>
				</li>
			</ul>
		</div>
		<a href="{% url 'add-co' %}" class="btn-download">
			{% comment %} <i class='bx bxs-cloud-download'></i> {% endcomment %}
			<span class="text">Add New Item</span>
		</a>
	</div>


	<div class="table-data">
		<div class="order">
			<div class="head">
				<h3>Course List</h3>
			</div>
			{% if course_outline_list %}
			<table>
				<thead>
					<tr>
						<th>Course Code</th>
						<th>Course Name</th>
						<th>Section</th>
						<th>Semester</th>
						<th>Year</th>
					</tr>
				</thead>
				<tbody>
					{% for course in course_outline_list %}
							<tr onclick="window.location='add-co/{{course.0}}';" style="cursor: pointer;">
								<td>{{course.1}}</td>
								<td>{{course.2}}</td>
								<td>{{course.3}}</td>
								<td>{% if course.4 == 'Sp' %}Spring{% elif course.4 == 'Su' %}Summer{% else %}Autumn{% endif %}</td>
								<td>{{course.5}}</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
				Nothing to show. Please add new item.
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="{% static 'coqb/faculty.js' %}"></script>
	<script>
		
	</script>
{% endblock %}