{% extends "coqb/layout.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block body %}

	<div class="head-title">
		<div class="left">
			<h1>Faculty Dashboard</h1>
			<ul class="dashboard">
				<li>
					<a href="{% url 'dashboard' %}">Dashboard</a>
				</li>
				<li><i class='bx bx-chevron-right'></i></li>
				<li>
					<a class="active" href="{% url 'dashboard' %}">Home</a>
				</li>
			</ul>
		</div>
		{% comment %} <a href="#" class="btn-download">
			<i class='bx bxs-cloud-download'></i>
			<span class="text">Download Guideline</span>
		</a> {% endcomment %}
	</div>

	<ul class="box-info">
		<li>
			<i class='bx bxs-group'></i>
			<span class="text">
				<h3><a href="{% url 'profile' %}">Profile Info</a></h3>
			</span>
		</li>
		<li>
			<i class='bx bxs-book'></i>
			<span class="text">
				<h3><a href="{% url 'co' %}">Course Outline</a> </h3>

			</span>
		</li>
		<li>
			<i class='bx bxs-book-open'></i>
			<span class="text">
				<h3><a href="{% url 'qb' %}">Question Bank</a> </h3>

			</span>
		</li>
	</ul>


	<div class="table-data">
		<div class="order">
			<div class="head">
				<h3>Course List</h3>
				{% comment %} <i class='bx bx-search'></i>
				<i class='bx bx-filter'></i> {% endcomment %}
			</div>
			{% if faculty_info %}
				<table>
					<thead>
						<tr>
							<th>Course Code</th>
							<th>Course Name</th>
							<th>Section</th>
							<th>Time</th>
							<th>Day</th>
						</tr>
					</thead>
					<tbody>
						{% for faculty_row in faculty_info %}
							<tr>
								{% for faculty_column in faculty_row %}
									<td>
										<p>{{ faculty_column }}</p>
									</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				This faculty is not conducting any course this semester.
			{% endif %}
		</div>
	</div>

{% endblock %}

{% block script %}<script src="{% static 'coqb/faculty.js' %}"></script>{% endblock %}