{% extends 'coqb/layout.html' %}
{% load static %}

{% block title %}Add Course Outline{% endblock title %}
{% block body %}
<div class="head-title">
   <div class="left">
      <h1>Add Course Outline</h1>
      <ul class="dashboard">
         <li>
            <a class="active" href="{% url 'co' %}">Course Outline</a>
         </li>
         <li><i class='bx bx-chevron-right'></i></li>
         <li>
            <a class="active" href="{% url 'add-co' %}">Add Course Outline</a>
         </li>
      </ul>
   </div>
</div>

<link rel="stylesheet" href="{% static 'coqb/style_form.css' %}">
<div class="table-data">
   <div class="order">
      <div class="wrapper">
         <div class="head">
            <h3>Add Course Outline Data</h3>
         </div>
         <div class="is-submitted" style="display: none;">
            <div style="color: #285c01;">Submitted successfully.</div> <a href="{% url 'co' %}">Go back to course outline list.</a>
         </div>
         {% comment %} <div class="title">
            Upload Course Outline Data
         </div> {% endcomment %}
         <div class="form">
            <form action="{% url 'add-co' %}" method="post">
               {% csrf_token %}
               <div class="inputfield">

                  <label>Course</label>
                  <div class="custom_select">
                     <select required name="section">
                        <option value="" disabled selected hidden>Select</option>
                        {% for item in course_info %}
                           <option value="{{item.5}}">{{item.0}} Section {{item.2}}: {{item.1}}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>



               <div class="form">
                  <div class="inputfield">

                     <label>Semester</label>
                     <div class="custom_select">
                        <select required name="semester">
                           <option value="{{semester}}">{% if semester == 'Sp' %}Spring{% elif semester == 'Su' %}Summer{% else %}Autumn{% endif %}</option>
                        </select>
                     </div>
                  </div>

                  <div class="form">
                     <div class="inputfield">
                        <label>Year</label>
                        <div class="custom_select">
                           <select required name="year">
                              <option value="{{year}}">{{year}}</option>
                           </select>
                        </div>
                     </div>

                     <div class="form">
                        <div class="inputfield">

                           <label>Course Type</label>
                           <div class="custom_select">
                              <select required name="course_type">
                                 <option value="" disabled selected hidden>Select</option>
                                 <option value="U">Undergraduate</option>
                                 <option value="G">Graduate</option>

                              </select>
                           </div>
                        </div>



                        <div class="form">
                           <div class="inputfield">
                              <label>Course Description</label>
                              <input name="course_description" type="text" class="input">
                           </div>
                           <div class="inputfield">
                           </div>

                           <div class="form">
                              <div class="inputfield">
                                 <label>Course Objective</label>
                                 <input name="course_objective" type="text" class="input">
                              </div>
                              <div class="inputfield">
                              </div>

                              <div class="form">
                                 <div class="inputfield">
                                    <label>Course Policy</label>
                                    <input name="course_policy" type="text" class="input">
                                 </div>
                                 <div class="inputfield">
                                 </div>


                                 <div class="form">
                                    <div class="inputfield">
                                       <label>Academic Dishonesty</label>
                                       <input name="dishonesty" type="text" class="input">
                                    </div>
                                    <div class="inputfield">
                                    </div>


                                    <div class="form">
                                       <div class="inputfield">
                                          <label>Non-Discrimination</label>
                                          <input name="discrimination" type="text" class="input">
                                       </div>
                                       <div class="inputfield">
                                       </div>

                                       <div class="form">
                                          <div class="inputfield">
                                             <label>Student With Disability And Stress</label>
                                             <input name="disability" type="text" class="input">
                                          </div>
                                          <div class="inputfield">
                                          </div>


                                          <div class="form">
                                             <div class="inputfield">
                                                <label>Course Requirement</label>
                                                <input name="requirement" type="text" class="input">
                                             </div>
                                             <div class="inputfield">
                                             </div>


                                             <div class="form">
                                                <div class="inputfield">
                                                   <label>Course Content</label>
                                                   <input name="course_content" type="text" class="input">
                                                </div>
                                                <div class="inputfield">
                                                </div>





                                                <div class="form">
                                                   <div class="inputfield">
                                                      <label>Assessment and Evaluation</label>
                                                      <input name="assessment" type="text" class="input">
                                                   </div>
                                                   <div class="inputfield">
                                                   </div>

                                                   <div class="form">
                                                      <div class="inputfield">
                                                         <label>Reference</label>
                                                         <input name="reference" type="text" class="input">
                                                      </div>
                                                      <div class="inputfield">
                                                      </div>
                                                      <div class="inputfield">
                                                         <input type="submit" value="Add" class="btn">
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock body %}




{% block script %}
   <script src="{% static 'coqb/faculty_co.js' %}"></script>
   
   <script>
      const isSubmitted = {{ is_submitted }}
      
      if (isSubmitted) {
         const form = document.querySelector('div.form')
         form.style = 'display: none;'
         const submitted = document.querySelector('div.is-submitted')
         submitted.style = "display: block;"
      }
   </script>   
{% endblock script %}

